@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   font-family: 'MuseoModerno';

   --navbar:#31363F;
   --hover:#76ABAE;
   --text:#EEEEEE;   
}
html {
    scroll-behavior: smooth;
}
body{
    color: var(--text);
    height: 100%;
    background-color: #202124;
}

/* Navbar */
.name{
    font-size: 30px;   
    color: yellow;
    pointer-events: none;
    cursor: default;
    margin-right: 20px;
}
.icon{
    width: 24px;
    margin-top: -5px; 
    filter: invert(1.0);
    cursor: pointer;
}
nav{
    position: fixed;
    width: 100%;
    background-color: var(--navbar);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 20px;    
    color: var(--text);
}
nav a:hover{
    background-color: var(--hover);
}
nav li:first-child{
    margin-right: auto;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(25px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;    
}
.sidebar li,.sidebar a{
    width: 100%;
}
.menuButton{
    display: none;
}
@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: block;
    }
}
@media(max-width: 450px) {
    .sidebar{
        width: 100%;
    }
}
.lock-scroll {
    overflow: hidden;
}
.unlock-scroll {
    overflow: visible;
}